**/bin/
**/obj/
artifacts/
*.user
*.pfx
*.key
*.pem
!/src/Client.Windows/cacert.pem
*.log
*.apk
*.aab
*.jks
*.keystore
local.properties
Temp/
**/__pycache__/
/tools/
/tests/
/BUILDING.md
/NOTICE.md
/runtime/android-controls/BUILDING.md
/runtime/android-controls/tests/
/runtime/android-controls/input/test_*
/runtime/mac-wow64/README.md
/src/Client.Launcher/Assets/Fonts/LICENSE.md
/src/Client.Windows/tests.cpp
